<form (ngSubmit)="submitForm()"  [formGroup]="newUserForm" id="form1">
    <div id="inner">
        <label>E id<span class="colon">:</span></label>
        <input type="text" formControlName="id" name="id" id="text_id"  >

      <label>Firstname<span class="colon">:</span></label>
      <input type="text" formControlName="fn" name="fn" id="text_fn"  >
     
  
      <label>Lastname<span class="colon">:</span></label>
      <input type="text" formControlName="ln" name="ln" id="text_ln"  >
  
  
      <label>Address<span class="colon" >:</span></label>
      <textarea id="text_address" formControlName="addr" name="addr" ></textarea>
    
      <label>Phone no<span class="colon" >:</span></label>
      <input type="text" formControlName="pn" name="pn" id="text_pn" >
     
      <label >Email<span class="colon">:</span></label>
      <input type="email" formControlName="email" name="email" id="text_email"  >
      <p   class="alert_text">{{alert_string}} </p>
   
      <div>
        <button id="submit" type="submit" >submit</button>
      </div>
    </div>
   
  </form>   