


<mat-table [dataSource]="userdata$ | async" id="userTable">

 
  <ng-container matColumnDef="userId">
    <mat-header-cell *matHeaderCellDef>Id</mat-header-cell>
    <mat-cell *matCellDef="let album"> {{album.userId}}</mat-cell>
  </ng-container>

  <ng-container matColumnDef="id">
    <mat-header-cell *matHeaderCellDef> album id</mat-header-cell>
    <mat-cell *matCellDef="let album"> {{album.id}}</mat-cell>
  </ng-container>

  <ng-container matColumnDef="title">
    <mat-header-cell *matHeaderCellDef>album title</mat-header-cell>
    <mat-cell *matCellDef="let album"><button mat-button  class="albumTitleButton" (click)="showPhotos(album.id)" >{{album.title}}</button></mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="columnNames"></mat-header-row>
  <mat-row *matRowDef="let row; columns: columnNames;"></mat-row>
</mat-table>

